:root {
    --maincolor: #ccc;
    --second-main: #e0e0e0;
    --dark-color: #17181f;
    --dark-second: #444;
    --dark-melo: #4444;
    --purple-melo: #6c72cb;
    --pink-melo: #cb69c1;
    --white-melo: #eeedf0;
}

body {
    background-color: #121212;
}

/* Utilities */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-3-5 {
    margin-top: 3.5em;
}

.mt-4 {
    margin-top: 4em;
}

.mt-5 {
    margin-top: 5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.l-3 {
    left: -80px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.text-muted {
    color: rgba(160, 160, 160, 0.4);
}

.d-flex {
    display: flex;
}

.text-lang {
    color: var(--maincolor);
}


.transition {
    transition: all .5s ease;
}



.hide {
    display: none;
}


/*                       */
.title {
    color: var(--maincolor);
    letter-spacing: 4px;
    font-size: 2em;
}

.language {
    top: 10px;
    right: 15px;
    width: 55px;
    justify-content: space-between;
}

.language span {
    cursor: pointer;
}

.introduction {
    color: var(--maincolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1100px;
    line-height: 1.8;
}

.introduction span {
    font-size: .9em;
}


.toggle-label {
    background: #fff;
    width: 56px;
    display: inline-block;
    border-radius: 40px;
    padding: 2.5px;
    height: 25px;
    cursor: pointer;
    transition: background .5s linear
}


.switch {
    appearance: none;
    -webkit-appearance: none;
}

.toggle-span {
    background-color: var(--dark-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    transition: transform .5s ease-in-out, color .5s ease;
}


.toggle-span-after {
    transform: translateX(30px);
    transition: transform .5s ease-in-out, color .5s ease;
}

.toggle-span-after {
    background-color: var(--white-melo);

}

.toggle-label-after {
    background-color: var(--dark-second);
}

.github-project {
    color: var(--maincolor);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.github-project::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--maincolor);
    transform-origin: left;
    border-radius: 4px;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    height: 2px;
    transition: transform .7s linear;
}

.github-project:hover::before {
    transform: scaleX(1);
}

/* Button styles  */
.btn {
    text-decoration: none;
    width: 175px;
    height: 40px;
    color: var(--maincolor);
    border: 1px dashed #444;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.btn-span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

/* 
.btn>span {
    position: absolute;
    background-color: var(--dark-color);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: ripples .7s linear infinite;
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    100% {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
} */

.cv {
    transition: all 1s ease;
    margin-top: 2em;
}

.cv:hover {
    color: var(--dark-second);
    border-style: solid;
}

.cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    transform: skew(35deg);
    z-index: -1;
    transition: width 1s;
}

.cv:hover::before {
    width: 150%;
}

/* Hover icon Styles */

.html,
.css,
.bootstrap,
.javascript,
.react,
.next,
.github {
    position: relative;
    transition: all .4s linear;
    display: inline-block;
    margin: 0 .2em;
}


.html:hover,
.css:hover,
.bootstrap:hover,
.react:hover,
.next:hover,
.javascript:hover,
.github:hover {
    color: transparent;
    transition: color .4s linear;
}

/* Html Styles */
.html::before {
    content: url('../../public/icons/html5.svg');
    width: 45px;
    position: absolute;
    right: 15px;
    top: -5px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.html:hover::before {
    transform: rotateX(0);
}

/*                       */
/* Css styles  */
.css::before {
    content: url('../../public/icons/css3.svg');
    position: absolute;
    width: 45px;
    right: 5px;
    top: -5px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.css:hover::before {
    transform: rotate(0);
}

/*  */

/* Bootstrap styles */
.bootstrap::before {
    content: url('../../public/icons/bootstrap.svg');
    position: absolute;
    width: 45px;
    right: 27px;
    top: -4px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.bootstrap:hover::before {
    transform: rotate(0);
}

/*                  */

/*  Js styles */
.javascript::before {
    content: url('../../public/icons/javascript.svg');
    position: absolute;
    width: 45px;
    right: 26px;
    top: -7px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.javascript:hover::before {
    transform: rotate(0);
}

/*           */
/* React styles  */
.react::before {
    content: url('../../public/icons/reactjs-icon.svg');
    position: absolute;
    top: -15px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.react:hover::before {
    transform: rotate(0);
}

/*           */
/* Next js styles */
.next::before {
    content: '';
    background-image: url('../../public/icons/next-js-logo-7929BCD36F-seeklogo.com.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert() drop-shadow(1px 1px 20px #fff);
    height: 65px;
    position: absolute;
    width: 65px;
    right: -3px;
    top: -15px;
    transform: rotateX(-90deg);
    transition: transform .4s ease-in-out;

}

.next:hover::before {
    transform: rotate(0);
}

.github {
    color: var(--maincolor);
    text-decoration: none;
}

.github::before {
    content: url('../../public/icons/icons8-github-50.svg');
    position: absolute;
    filter: invert();
    top: -12px;
    right: 4px;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
}

.github::after {
    content: '';
    background-image: url('../../public/icons/click_arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    filter: invert();
    position: absolute;
    top: -113px;
    left: -50px;


}

.github:hover::before {
    transform: rotate(0);
}

/* Second section */
.d-grid {
    display: grid;
}

.grid-skills {
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    row-gap: 3em;
}

.skill-section {
    background-color: var(--dark-melo);
}

.badge img {
    width: 50px;
}

.badge {
    color: var(--second-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .6em;
    width: 100%;
}

.nextjs img {
    filter: invert();
    height: 50px;
    width: 77px;

}

/*                           */

/* Third section  */
.project {
    color: var(--maincolor);
    text-align: center;
}

/* Social media */
.social {
    background-color: var(--dark-melo);
    /* margin-bottom: 2em; */
}

.follow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    margin: auto;
}

/* Instagram styles */
.instagram svg {
    transition: filter .5s linear;
}

.instagram svg {
    width: 54px;
    border-radius: 20px;
    filter: invert();
}

.instagram svg:hover {
    filter: invert() drop-shadow(0 0 5px #ff1177) drop-shadow(0 0 10px #d6249f)drop-shadow(0 0 15px #285aeb);
    ;

}

/*                   */
/* Telegram Styles */
.for-telegram {
    transition: filter .5s linear;
}

.for-telegram:hover {
    filter: drop-shadow(0 0 5px #229ED9) drop-shadow(0 0 10px #2aabee) drop-shadow(0 0 15px #fff);
}

/*                */

/* Whatsapp styles */
.for-whatsapp {
    transition: filter .5s linear;
}

.for-whatsapp:hover {
    filter: drop-shadow(0 0 5px #25d366) drop-shadow(0 0 10px #48ee85) drop-shadow(0 0 15px #0ec0a5);
}

/*                   */
.for-email {
    filter: invert();
    transition: filter .5s linear;
}

.for-email:hover {
    filter: invert() drop-shadow(0 0 15px #333) drop-shadow(0 0 5px #f5f5f5) drop-shadow(0 0 10px #fafafa);
}

/* Email styles */
.for-email {
    align-self: center;

}


/*           */
.for-linkedin {
    transition: filter .5s linear;
    align-self: center;
}

.for-linkedin svg {
    fill: #0A66C2;
}

.for-linkedin:hover {
    filter: drop-shadow(0 0 15px #0a66c2) drop-shadow(0 0 10px #fff) drop-shadow(0 0 5px #0072b1);
}

/* scroll to top */
.scroll-to-top {
    width: 50px;
    background-color: var(--purple-melo);
    padding: .4em;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: -20px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.scroll-to-top img {
    width: 100%;
    height: 100%;
    filter: invert();
}

@media screen and (max-width:768.5px) {

    .p-1,
    .p-2 {
        padding: .5em;
    }

    .social {
        padding: .5em 0;
    }

    .follow {
        width: 100%;
        margin-top: .5em;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 1em;
        justify-items: center;
    }

    .introduction {
        width: 95%;
    }

    .html,
    .css,
    .bootstrap,
    .javascript,
    .react,
    .next {
        all: unset;
    }

    .html:hover,
    .css:hover,
    .bootstrap:hover,
    .javascript:hover,
    .react:hover,
    .next:hover,
    .github:hover {
        color: var(--maincolor);
    }

    .html::before,
    .css::before,
    .bootstrap::before,
    .javascript::before,
    .react::before,
    .next::before,
    .github::before {
        all: unset;
    }

    .github-project::before {
        animation: scale 5s 2s infinite alternate;
    }

    .lastgit {
        margin: 0 .5em 0 0;
    }

    .degit::before,
    .lastgit::before {
        bottom: -5px;
    }

    @keyframes scale {

        0% {
            transform: scaleX(0);
        }

        100% {
            transform: scaleX(1);
        }
    }

    .mt-3-5 {
        margin: 5em 0 0 0;
    }

    .cv::before {
        animation: fullwidth 5s 2s infinite alternate;
    }

    .cv:hover::before {
        width: 0;
    }

    .cv:hover {
        color: var(--dark-second);
    }

    .cv {
        animation: color 5s 2s infinite alternate;
    }

    .light .cv {
        animation: colorDark 5s 2s infinite alternate;
    }

    @keyframes colorDark {
        from {
            color: var(--dark-color);
        }

        to {
            color: var(--maincolor);
        }
    }

    @keyframes fullwidth {
        100% {
            width: 150%;
        }
    }

    @keyframes color {
        0% {
            color: var(--maincolor);
        }

        60%,
        100% {
            color: var(--dark-second);
        }
    }

    .grid-skills {
        grid-template-columns: auto auto auto;
    }

    .instagram svg:hover {
        filter: invert();
    }

    .instagram svg {
        animation: first-color 1s ease-in-out infinite alternate;
    }

    @keyframes first-color {
        0% {
            filter: invert() drop-shadow(0 0 5px #ff1177) drop-shadow(0 0 10px #d6249f)drop-shadow(0 0 15px #285aeb);
            ;
        }

        100% {
            filter: invert() drop-shadow(0 0 10px #ff1177) drop-shadow(0 0 15px #d6249f)drop-shadow(0 0 20px #285aeb);
            ;

        }
    }

    .for-telegram:hover {
        filter: unset;
    }

    .for-telegram,
    .for-telegram:active {
        animation: second-color 1s ease-in-out infinite alternate;
    }

    @keyframes second-color {
        0% {
            filter: drop-shadow(0 0 5px #229ED9) drop-shadow(0 0 10px #2aabee) drop-shadow(0 0 15px #fff);

        }

        100% {
            filter: drop-shadow(0 0 15px #229ED9) drop-shadow(0 0 5px #2aabee) drop-shadow(0 0 5px #fff);

        }
    }

    .for-whatsapp:hover {
        filter: unset;
    }

    .for-whatsapp,
    .for-whatsapp:active {
        animation: third-color 1s ease-in-out infinite alternate;
    }

    @keyframes third-color {
        0% {
            filter: drop-shadow(0 0 5px #25d366) drop-shadow(0 0 7px #48ee85) drop-shadow(0 0 10px #0ec0a5);
        }

        100% {
            filter: drop-shadow(0 0 10px #25d366) drop-shadow(0 0 12px #48ee85) drop-shadow(0 0 7px #0ec0a5);

        }

    }

    .for-email:hover {
        filter: unset;
    }

    .for-email,
    .for-email:active {
        animation: fourth-color 1s ease-in-out infinite alternate;
    }

    @keyframes fourth-color {
        0% {
            filter: invert() drop-shadow(0 0 15px #333) drop-shadow(0 0 5px #f5f5f5) drop-shadow(0 0 5px #fafafa);

        }

        100% {
            filter: invert() drop-shadow(0 0 10px #333) drop-shadow(0 0 5px #f5f5f5) drop-shadow(0 0 5px #fafafa);

        }
    }

    .light .for-email {
        animation: light-color 1s ease-in-out infinite alternate;
    }

    @keyframes light-color {
        0% {
            filter: drop-shadow(0 0 15px #ccc) drop-shadow(0 0 10px #333) drop-shadow(0 0 15px #111);
        }

        100% {
            filter: drop-shadow(0 0 10px #ccc) drop-shadow(0 0 5px #333) drop-shadow(0 0 5px #111);

        }
    }

    .for-linkedin:hover {
        filter: unset;
    }

    .for-linkedin,
    .for-linkedin:active {
        animation: fifth-color 1s ease-in-out infinite alternate;
    }

    @keyframes fifth-color {
        0% {
            filter: drop-shadow(0 0 10px #0a66c2) drop-shadow(0 0 10px #fff) drop-shadow(0 0 5px #0072b1);

        }

        100% {
            filter: drop-shadow(0 0 5px #0a66c2) drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #0072b1);


        }
    }

    .switch {
        display: none;
    }

    .scroll-to-top {
        display: block
    }

    .social {
        height: 290px;
    }

}

@media (min-width: 320px) and (max-width:389.5px) {
    .lastgit {
        margin-left: .3em !important;
    }
}

@media screen and (max-width:425.5px) {

    .javascript,
    .bootstrap,
    .react,
    .next {
        margin: .2em;
    }

    .py-1 {
        padding-top: 2em;
    }

    .light .github-project {
        color: var(--dark-color);
    }

    .github,
    .github::after {
        all: unset;
    }

    .mt-3-5 {
        margin: 0;
    }


    .language {
        top: 10px;
    }
}